@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 25vh;
}

#logo{
    width: 12%;
    user-select: none;
    pointer-events: none;
}

a{
    color: white;
}

input{
    outline-width: 0;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
