body{
    text-align: center;
    margin-top: 25vh;
}

#logo{
    width: 12%;
    user-select: none;
    pointer-events: none;
}

a{
    color: white;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
